{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block statment %}

<div class="container">
        <div class="row ">
            <div class="col-md-12">
                <h2 class="short word-rotator-title"><strong>Polisja</strong> to <strong class="inverted" data-appear-animation="bounceIn">
                    <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
                        <span class="word-rotate-items">
                            <span>biezpieczne.</span>
                            <span>najlepsze.</span>
        					<span>wygodne.</span>
		    			</span>
					</span>
    				</strong>
				</h2>
                    <p> Klienci cenią nas za kompleksowość działań i profesjonalizm. Nasi doradcy podczas bezpłatnej konsultacji zaledwie w kilka minut porównują oferty ubezpieczeniowe ponad 30 działających 
                        na rynku Towarzystw i pomagają wybrać najkorzystniejsze ubezpieczenie domu, życia i zdrowia, 
                        podróży albo firmy. Współpracujemy z najlepszymi towarzystwami ubezpieczeniowymi działającymi na rynku. 
                        Kontaktując się z nami oszczędzasz czas i pieniądze.
                    </p>
			</div>
		</div>
    {{ form_start(form, {'attr': {'id': 'propertyInsuranceForm'}}) }}
        <div class="row">
            <div class="form-group col-md-6">
                <label for="{{ form.typeOfHouse.vars.id }}">{{ form.typeOfHouse.vars.label }}</label>
                {{ form_widget(form.typeOfHouse, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="{{ form.place.vars.id }}">{{ form.place.vars.label }}</label>
                {{ form_widget(form.place, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="{{ form.residentialArea.vars.id }}">{{ form.residentialArea.vars.label }}</label>
                {{ form_widget(form.residentialArea, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="{{ form.mail.vars.id }}">{{ form.mail.vars.label }}</label>
                {{ form_widget(form.mail, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="{{ form.phone.vars.id }}">{{ form.phone.vars.label }}</label>
                {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="{{ form.yearbuilt.vars.id }}">{{ form.yearbuilt.vars.label }}</label>
                {{ form_widget(form.yearbuilt, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="{{ form.constructiontype.vars.id }}">{{ form.constructiontype.vars.label }}</label>
                {{ form_widget(form.constructiontype, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="{{ form.name.vars.id }}">{{ form.name.vars.label }}</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="{{ form.policyStartDate.vars.id }}">{{ form.policyStartDate.vars.label }}</label>
                {{ form_widget(form.policyStartDate, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">Wyślij</button>
            </div>
        </div>
    {{ form_end(form) }}
</div>
{% include 'banner.html.twig' %}
{% endblock %}
