{% extends '@EasyAdmin/page/content.html.twig' %}
{% block body_class 'page-content' %}
{% block page_title %}
{% endblock %}
{% block page_content %}
{% endblock %}
{% block content_title %}{{ block('page_title') }}{% endblock %}
{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Aktywne Strony</h1>
                {{ form_start(form, {'attr': {'class': 'my-form-class'}}) }}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            {% for child in form.name %}
                                {{ form_row(child) }}
                                {{ form_errors(child, {'attr': {'class': 'text-danger'}}) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Zapisz</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Dane Kontaktowe</h1>
                {{ form_start(formConfigData, {'attr': {'class': 'my-form-class'}}) }}
                <div class="form-group">
                    {{ form_label(formConfigData.name, "Wybierz", {'label_attr': {'class': 'my-label-class'}}) }}
                    {{ form_widget(formConfigData.name, {'attr': {'class': 'form-control', 'placeholder': 'Wpisz nazwę strony'}}) }}
                    {{ form_errors(formConfigData.name, {'attr': {'class': 'text-danger'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(formConfigData.value, "Wpisz",{'label_attr': {'class': 'my-label-class'}}) }}
                    {{ form_widget(formConfigData.value, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(formConfigData.value, {'attr': {'class': 'text-danger'}}) }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Zapisz</button>
                {{ form_end(formConfigData) }}
            </div>
        </div>
    </div>
{% endblock %}
