{% extends 'base.html.twig' %}

{% block auto %}
<link rel="stylesheet" href="frontendStyle/HTML/css/carForm.css">
<div class="container" style="padding-top:10rem">
	<div class="row ">
            <div class="col-md-12">
                <h2 class="short word-rotator-title"><strong>Polisja</strong> to <strong class="inverted" data-appear-animation="bounceIn">
                    <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
                        <span class="word-rotate-items">
                            <span>biezpieczne.</span>
                            <span>najlepsze.</span>
        					<span>wygodne.</span>
		    			</span>
					</span>
    				</strong>
				</h2>
                    <p> Nasza firma jest znana z profesjonalnej obsługi klienta i konkurencyjnych cen.
                        Nasze polisy OC i AC są dostosowane do Twoich indywidualnych potrzeb, abyś mógł cieszyć się ochroną, która pasuje do Twojego stylu życia.
                        Zaufaj nam, byśmy zadbasz o Twoje bezpieczeństwo na drodze.
                    </p>
			</div>
		</div>
        <h1>Formularz z INSLY</h1>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="form-container">
                {{ form_start(form, {'attr': {'id': 'carInsuranceForm'}}) }}
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    {{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'required': 'required','disabled': 'disabled'} }) }}
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    {{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'required': 'required','disabled': 'disabled'} }) }}
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'required': 'required', 'type': 'email','disabled': 'disabled'} }) }}
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    {{ form_widget(form.phone, { 'attr': {'class': 'form-control', 'required': 'required', 'type': 'tel','disabled': 'disabled'} }) }}
                </div>
                <div class="form-group">
                    <label for="carMake">Car Make</label>
                    {{ form_widget(form.maker, { 'attr': {'class': 'form-control', 'required': 'required','disabled': 'disabled'} }) }}
                </div>
                <div class="form-group">
                    <label for="carModel">Car Model</label>
                    {{ form_widget(form.model, { 'attr': {'class': 'form-control', 'required': 'required','disabled': 'disabled'} }) }}
                </div>
                <div class="form-group">
                    <label for="carYear">Car Year</label>
                    {{ form_widget(form.year, { 'attr': {'class': 'form-control', 'required': 'required', 'type': 'number','disabled': 'disabled'} }) }}
                </div>
                <div class="form-group">
                    <label for="coverageType">Coverage Type</label>
                    {{ form_widget(form.coverageType, { 'attr': {'class': 'form-control', 'required': 'required','disabled': 'disabled'} }) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" disabled>Wyślij</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% include 'banner.html.twig' %}
{% endblock %}
