{% extends 'base.html.twig' %}
	{% block body %}
<link rel="stylesheet" href="{{ asset('frontendStyle/HTML/css/logo.css') }}">
<div role="main" class="main">
    <div class="row">
        <div class="container" style="padding-bottom:5rem;padding-top:8rem">
            <div class="logotyp">
                <div class="polisja-logo">
                    <div class="logopol">
                        <img src="frontendStyle/HTML/img/polisjalogo.jpg">
                        <div class="grid-container">
                            <a href="{{ '/ubezpieczenia-samochodu' }}" class="autopolisa"
                               data-href="{{ '/ubezpieczenia-samochodu' }}">
                                <img class="animated-img" src="frontendStyle/HTML/img/auto.jpg"
                                     data-title="Ubezpieczenia Auta"
                                     data-content="OC to obowiązkowe ubezpieczenie dla posiadaczy pojazdów mechanicznych.Ochrona na drodze. Nasze ubezpieczenia samochodowe zapewniają Ci spokojną jazdę, niezależnie od tego, czy jesteś nowym kierowcą, czy doświadczonym podróżnikiem">
                            </a>
                            <a href="{{ 'biznes' }}" class="dompolisa" data-href="{{ 'biznes' }}">
                                <img class="animated-img" src="frontendStyle/HTML/img/dom.jpg"
                                     data-title="Ubezpieczenia Biznesu"
                                     data-content="Zabezpiecz swój biznes. Nasze ubezpieczenia dla firm pomagają chronić Twoją działalność przed ryzykami i utratą, zapewniając spokojny sen przedsiębiorcy">
                            </a>
                            <a href="{{ 'zycie' }}" class="sercepolisa" data-href="{{ 'zycie' }}">
                                <img class="animated-img" src="frontendStyle/HTML/img/serce.jpg"
                                     data-title="Ubezpieczenia Zdrowia"
                                     data-content="Twoje zdrowie na pierwszym miejscu. Nasze ubezpieczenia zdrowotne pozwalają Ci skupić się na tym, co najważniejsze - Twoim zdrowiu. Dajemy Ci pewność, że otrzymasz potrzebne świadczenia medyczne.">
                            </a>
                            <a href="{{ 'nieruchomosc' }}" class="biuropolisa" data-href="{{ 'nieruchomosc' }}">
                                <img class="animated-img" src="frontendStyle/HTML/img/dompolisa.jpg"
                                     data-title="Ubezpieczenia Nieruchomości"
                                     data-content="Bezpieczeństwo Twojego domu. Nasze ubezpieczenia nieruchomości pomagają chronić Twój dom i dobytek przed nieoczekiwanymi sytuacjami, takimi jak pożary, zalania czy kradzieże">
                            </a>


                        </div>
                    </div>
                    <div class="information" id="information">
                        <h1 class="info-title">Tytuł</h1>
                        <p class="info-content">Treść</p>
                        <a href="#" class="btn btn-primary push-top pull-right info-button">Przejdz do formularza</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="webdesing">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <h2 class="short word-rotator-title"><strong>Polisja</strong> to <strong class="inverted"
                                                                                             data-appear-animation="bounceIn">
									<span class="word-rotate" data-plugin-options='{"delay": 2000}'>
										<span class="word-rotate-items">
											<span>biezpieczne.</span>
											<span>najlepsze.</span>
											<span>wygodne.</span>
										</span>
									</span>
                        </strong>
                    </h2>
                    <p> Klienci cenią nas za kompleksowość działań i profesjonalizm. Nasi doradcy podczas bezpłatnej
                        konsultacji zaledwie w kilka minut porównują oferty ubezpieczeniowe ponad 30 działających
                        na rynku Towarzystw i pomagają wybrać najkorzystniejsze ubezpieczenie domu, życia i zdrowia,
                        podróży albo firmy. Współpracujemy z najlepszymi towarzystwami ubezpieczeniowymi działającymi na
                        rynku.
                        Kontaktując się z nami oszczędzasz czas i pieniądze.</p>
                    <ul class="list icons list-unstyled">
                        <li><i class="fa fa-check"></i>Ponad 10 lat działalności Polisji na rynku, to gwarancja
                            doświadczenia
                        </li>
                        <li><i class="fa fa-check"></i>Dzięki porównaniu ofert wielu ubezpieczycieli możemy dobrać
                            ubezpieczenie dopasowane do indywidualnych potrzeb każdej osoby
                        </li>
                        <li><i class="fa fa-check"></i>Przeanalizujemy dla Ciebie oferty ponad 30 firm i wybierzemy
                            najlepsze i najkorzystniejsze propozycje.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div data-appear-animation="fadeInDown" class="appear-animation">
            <div class="row featured-boxes secundary">
                <div class="col-md-2">
                    <div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
                        <div class="featured-box featured-box-primary">
                            <div class="box-content">
                                <i class="icon-featured fa fa-car"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <h3 class="short dark">OC/AC</h3>
                    <h5 class="short">OC to obowiązkowe ubezpieczenie dla posiadaczy pojazdów mechanicznych.</h5>
                    <p>
                        Dzięki niemu
                        jesteś chroniony przed finansową odpowiedzialnością za szkody, które zostały wyrządzone
                        innym osobom w ruchu drogowym, z kolei AC to dodatkowa ochrona dla Twojego pojazdu
                        w przypadku uszkodzenia lub kradzieży. Jeśli pragniesz także dodatkowej prewencji dla swojego
                        życia oraz zdrowia, a także bezpieczeństwa Twoich najbliższych podczas ruchu pojazdu
                        powinieneś zainteresować się również NNW.
                    </p>
                </div>
            </div>
        </div>
        <div data-appear-animation="fadeInDown" class="appear-animation">
            <div class="row">
                <div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
                    <div class="col-md-2 center push-bottom">
                        <span class="icon-rounded"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div data-appear-animation="fadeInDown" class="appear-animation">
            <div class="row featured-boxes secundary">
                <div class="col-md-2">
                    <div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
                        <div class="featured-box featured-box-primary">
                            <div class="box-content">
                                <i class="icon-featured fa fa-home"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <h3 class="short dark">Dom & Nieruchomość</h3>
                    <h5 class="short">Dom to wyjątkowo ważne miejsce, w którym codziennie toczy się życie Twoje i Twoich
                        najbliższych.</h5>
                    <p>
                        w domu może zdarzyć się wiele nieprzyjemnych sytuacji i zdarzeń
                        losowych, które mogą prowadzić do uszkodzenia mienia. Zadbaj o bezpieczeństwo swojego
                        lokum i zapoznaj się z ofertą naszych ubezpieczeń.
                    </p>
                </div>
            </div>
        </div>
        <div data-appear-animation="fadeInDown" class="appear-animation">
            <div class="row">
                <div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
                    <div class="col-md-2 center push-bottom">
                        <span class="icon-rounded"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div data-appear-animation="fadeInDown" class="appear-animation">
            <div class="row featured-boxes secundary">
                <div class="col-md-2">
                    <div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
                        <div class="featured-box featured-box-primary">
                            <div class="box-content">
                                <i class="icon-featured fa fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <h3 class="short dark">Życie & Zdrowie</h3>
                    <h5 class="short">Ubezpieczenie w każdej dziedzinie życia jest ważne.</h5>
                    <p>
                        Ubezpieczenie na życie zapewni ochronę Tobie i Twoim najbliższym w razie nieprzewidzianych
                        zdarzeń mogących spowodować uszczerbek na życiu lub zdrowiu. Jeśli planujesz wyjazd,
                        zapoznaj się także z ofertą ubezpieczeń na podróż, które ochronią Cię przed skutkami
                        wypadków i zabezpieczą przed wysokimi kosztami leczenia poza granicami kraju. Dzięki niemu
                        zapewniamy Ci wsparcie finansowe w razie problemów lub trudnych sytuacji.
                    </p>
                </div>
            </div>
        </div>
        <div data-appear-animation="fadeInDown" class="appear-animation">
            <div class="row">
                <div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
                    <div class="col-md-2 center push-bottom">
                        <span class="icon-rounded"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div data-appear-animation="fadeInDown" class="appear-animation">
            <div class="row featured-boxes secundary">
                <div class="col-md-2">
                    <div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
                        <div class="featured-box featured-box-primary">
                            <div class="box-content">
                                <i class="icon-featured fa fa-institution "></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <h3 class="short dark">Firma & Działalność</h3>
                    <h5 class="short">Prowadzenie własnej firmy to duże wyzwanie. </h5>
                    <p>
                        Twój biznes tak samo jak Ty i Twoi najbliżsi
                        potrzebuje ochrony. Zadbaj o majątek i bezpieczeństwo swojej firmy, niezależnie od jej
                        wielkości i ryzyka, z jakim wiąże się Twoja działalność. Posiadamy w ofercie ubezpieczenia
                        dedykowane dla każdego rodzaju biznesu
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class=" design">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <h2 class="short word-rotator-title">Interesuje cię oferta<strong> ubezpieczeniowa? </strong></h2>
                    <div class="row">
                        <div class="col-md-10">
                            <p>
                                Współpracujemy z najlepszymi towarzystwami ubezpieczeniowymi działającymi na rynku. Nasi doradcy podczas bezpłatnej
                                konsultacji zaledwie w kilka minut porównują oferty ubezpieczeniowe ponad 30 działających
                                na rynku Towarzystw i pomagają wybrać najkorzystniejsze ubezpieczenie domu, życia i zdrowia,
                                podróży albo firmy. Współpracujemy z najlepszymi towarzystwami ubezpieczeniowymi działającymi na
                                rynku.
                                Kontaktując się z nami oszczędzasz czas i pieniądze.
                            </p>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-lg btn-primary push-top pull-right">Skontaktuj sie</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="read">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1">
                            <h2> Przeczytaj, co mówią o nas osoby, które skorzystały <strong>z naszych
                                    usług...</strong></h2>
                            <div class="row">
                                <div class="owl-carousel push-bottom"
                                     data-plugin-options='{"items": 1, "autoHeight": true}'>
                                    <div>
                                        <div class="col-md-12">
                                            <blockquote class="testimonial">
                                                <p>To ubezpieczenie jest dla mnie gwarancją, że mogę cieszyć się swoim
                                                    samochodem bez stresu.
                                                    Dzięki kompleksowej ochronie AC i OC, nie muszę się martwić o
                                                    niespodziewane sytuacje na drodze.</p>
                                            </blockquote>
                                            <div class="testimonial-arrow-down"></div>
                                            <div class="testimonial-author">
                                                <div class="img-thumbnail img-thumbnail-small">
                                                    <img src="frontendStyle/HTML/img/clients/client-1.jpg"
                                                         alt="">
                                                </div>
                                                <p><strong>Wiktoria Kuś</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-12">
                                            <blockquote class="testimonial">
                                                <p>Dzięki temu ubezpieczycielowi czuję się naprawdę zabezpieczony.
                                                    Mam polisę ubezpieczeniową na samochód, nieruchomość i życie, i
                                                    wiem, że w razie potrzeby firma ta zawsze jest przy mnie.
                                                    To spokojna głowa na przyszłość.</p>
                                            </blockquote>
                                            <div class="testimonial-arrow-down"></div>
                                            <div class="testimonial-author">
                                                <div class="img-thumbnail img-thumbnail-small">
                                                    <img src="frontendStyle/HTML/img/clients/client-1.jpg"
                                                         alt="">
                                                </div>
                                                <p><strong>Łukasz Borowski</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section class="featured highlight footer">
        <div class="container">
            <div class="row center counters">
                <div class="col-md-3">
                    <div data-appear-animation="bounceIn" data-appear-animation-delay="0">
                        <strong data-to="2000"></strong>
                        <label>Klientów</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div data-appear-animation="bounceIn" data-appear-animation-delay="200">
                        <strong data-to="200"></strong>
                        <label>Agencji i oddziałów</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div data-appear-animation="bounceIn" data-appear-animation-delay="400">
                        <strong data-to="10"></strong>
                        <label>Lat w rynku</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div data-appear-animation="bounceIn" data-appear-animation-delay="600">
                        <strong data-to="50"></strong>
                        <label>Partnerów i dostawców</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
