{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="frontendStyle/HTML/css/styleHealthForm.css">
<div class="container">
	<div class="row ">
            <div class="col-md-12">
                <h2 class="short word-rotator-title"><strong>Polisja</strong> to <strong class="inverted" data-appear-animation="bounceIn">
                    <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
                        <span class="word-rotate-items">
                            <span>biezpieczne.</span>
                            <span>najlepsze.</span>
        					<span>wygodne.</span>
		    			</span>
					</span>
    				</strong>
				</h2>
                    <p> Klienci cenią nas za kompleksowość działań i profesjonalizm. Nasi doradcy podczas bezpłatnej konsultacji zaledwie w kilka minut porównują oferty ubezpieczeniowe ponad 30 działających 
                        na rynku Towarzystw i pomagają wybrać najkorzystniejsze ubezpieczenie domu, życia i zdrowia, 
                        podróży albo firmy. Współpracujemy z najlepszymi towarzystwami ubezpieczeniowymi działającymi na rynku. 
                        Kontaktując się z nami oszczędzasz czas i pieniądze.
                    </p>
			</div>
		</div>
  

    {{ form_start(form, {'attr': {'id': 'lifeInsuranceForm'}}) }}
    <div class="row">
        <div class="form-group col-md-6">
            <label for="{{ form.name.vars.id }}">{{ form.name.vars.label }}</label>
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        </div>
        <div class="form-group col-md-6">
            <label for="{{ form.surname.vars.id }}">{{ form.surname.vars.label }}</label>
            {{ form_widget(form.surname, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="{{ form.mail.vars.id }}">{{ form.mail.vars.label }}</label>
            {{ form_widget(form.mail, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        </div>
        <div class="form-group col-md-6">
            <label for="{{ form.phone.vars.id }}">{{ form.phone.vars.label }}</label>
            {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="{{ form.dateofbirth.vars.id }}">{{ form.dateofbirth.vars.label }}</label>
            {{ form_widget(form.dateofbirth, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        </div>
        <div class="form-group col-md-6">
            <label for="{{ form.gender.vars.id }}">{{ form.gender.vars.label }}</label>
            {{ form_widget(form.gender, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="{{ form.occupation.vars.id }}">{{ form.occupation.vars.label }}</label>
            {{ form_widget(form.occupation, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        </div>
        <div class="form-group col-md-6">
            <label for="{{ form.policyStartDate.vars.id }}">{{ form.policyStartDate.vars.label }}</label>
            {{ form_widget(form.policyStartDate, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-lg">Wyślij</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
<div class="container">
    <section class="call-to-action featured footer">
                <div class="center">
                    <h3>Chcesz porozmawiać o naszej <strong>ofercie ubezpieczeniowej</strong>  i  <strong>poznać ceny</strong>? <a href="{{'contact'}}" class="btn btn-lg btn-primary" data-appear-animation="bounceIn">Skontaktuj się</a> <span class="arrow hlb hidden-xs hidden-sm hidden-md" data-appear-animation="rotateInUpLeft" style="top: -22px;"></span></h3>                
                </div>
    </section>
</div>
{% endblock %}
