{% extends 'base.html.twig' %}
	{% block body %}
	<link rel="stylesheet" href="frontendStyle/HTML/css/Logo.css">
			<div role="main" class="main">
				<div class="row">
					<div class="container" style="padding-bottom:3rem;">
						<div class="logotyp">
							<div class="polisja-logo">
								<div class= "logopol">
									<img src="frontendStyle/HTML/img/polisjalogo.jpg">
									<div class="grid-container">
										<a href="{{'auto'}}" class="autopolisa" data-href="{{'auto'}}">
												<img class="animated-img" src="frontendStyle/HTML/img/auto.jpg" 
													data-title="Auto Polisa" 
													data-content="OC to obowiązkowe ubezpieczenie dla posiadaczy pojazdów mechanicznych.">
										</a>
										<a href="{{'biznes'}}" class="dompolisa" data-href="{{'biznes'}}">
											<img class="animated-img" src="frontendStyle/HTML/img/dom.jpg" 
												data-title="Dompolska" 
												data-content="Ubezpieczenia dla biznesu.Twój biznes tak samo jak Ty i Twoi najbliżsi potrzebuje ochrony.  ">
										</a>
										<a href="{{'zycie'}}" class="sercepolisa" data-href="{{'zycie'}}">
											<img class="animated-img" src="frontendStyle/HTML/img/serce.jpg" 
												data-title="Sercepolisa" 
												data-content="Ubezpieczenia na życie.Ubezpieczenie na życie zapewni ochronę Tobie i Twoim najbliższym. ">
										</a>
										<a href="{{'nieruchomosc'}}" class="biuropolisa" data-href="{{'nieruchomosc'}}">
												<img class="animated-img" src="frontendStyle/HTML/img/dompolisa.jpg" 
													data-title="Biuropolisa" 
													data-content="Ubezpieczenia nieruchomościZadbaj o bezpieczeństwo swojego lokum.">
										</a>
										
										
									</div>
								</div>
								<div class="information" id="information">
									<h1 class="info-title">Tytuł</h1>
									<p class="info-content">Treść</p>
									<a href="#" class="btn btn-primary push-top pull-right info-button">Przejdz do formularza</a>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="webdesing">
					<div class="container">
						<div class="row ">
						<div class="col-md-12">
							<h2 class="short word-rotator-title"><strong>Polisja</strong> to <strong class="inverted" data-appear-animation="bounceIn">
									<span class="word-rotate" data-plugin-options='{"delay": 2000}'>
										<span class="word-rotate-items">
											<span>biezpieczne.</span>
											<span>najlepsze.</span>
											<span>wygodne.</span>
										</span>
									</span>
								</strong>
							</h2>
							<p> Klienci cenią nas za kompleksowość działań i profesjonalizm. Nasi doradcy podczas bezpłatnej konsultacji zaledwie w kilka minut porównują oferty ubezpieczeniowe ponad 30 działających 
								na rynku Towarzystw i pomagają wybrać najkorzystniejsze ubezpieczenie domu, życia i zdrowia, 
								podróży albo firmy. Współpracujemy z najlepszymi towarzystwami ubezpieczeniowymi działającymi na rynku. 
								Kontaktując się z nami oszczędzasz czas i pieniądze.</p>
							<ul class="list icons list-unstyled">
								<li><i class="fa fa-check"></i>Ponad 10 lat działalności Polisji na rynku, to gwarancja doświadczenia</li>
								<li><i class="fa fa-check"></i>Dzięki porównaniu ofert wielu ubezpieczycieli możemy dobrać ubezpieczenie dopasowane do indywidualnych potrzeb każdej osoby</li>
								<li><i class="fa fa-check"></i>Przeanalizujemy dla Ciebie oferty ponad 30 firm i wybierzemy najlepsze i najkorzystniejsze propozycje.</li>
							</ul>
						</div>
					</div>
					</div>
				</div>
				<div class="container">
					<div data-appear-animation="fadeInDown" class="appear-animation">
						<div class="row featured-boxes secundary">
							<div class="col-md-2">
								<div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
									<div class="featured-box featured-box-primary">
										<div class="box-content">
											<i class="icon-featured fa fa-car"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-10">
								<h3 class="short dark">OC/AC</h3>
								<h5 class="short">OC to obowiązkowe ubezpieczenie dla posiadaczy pojazdów mechanicznych.</h5>
								<p>
									 Dzięki niemu 
									jesteś chroniony przed finansową odpowiedzialnością za szkody, które zostały wyrządzone 
									innym osobom w ruchu drogowym, z kolei AC to dodatkowa ochrona dla Twojego pojazdu 
									w przypadku uszkodzenia lub kradzieży. Jeśli pragniesz także dodatkowej prewencji dla swojego 
									życia oraz zdrowia, a także bezpieczeństwa Twoich najbliższych podczas ruchu pojazdu 
									powinieneś zainteresować się również NNW.
								</p>
							</div>
						</div>
					</div>
					<div data-appear-animation="fadeInDown" class="appear-animation">
						<div class="row">
							<div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
								<div class="col-md-2 center push-bottom">
									<span class="icon-rounded"><i class="fa fa-plus"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div data-appear-animation="fadeInDown" class="appear-animation">
						<div class="row featured-boxes secundary">
							<div class="col-md-2">
								<div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
									<div class="featured-box featured-box-primary">
										<div class="box-content">
											<i class="icon-featured fa fa-home"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-10">
								<h3 class="short dark">Dom & Nieruchomość</h3>
								<h5 class="short">Dom to wyjątkowo ważne miejsce, w którym codziennie toczy się życie Twoje i Twoich najbliższych.</h5>
								<p>
									w domu może zdarzyć się wiele nieprzyjemnych sytuacji i zdarzeń 
									losowych, które mogą prowadzić do uszkodzenia mienia. Zadbaj o bezpieczeństwo swojego 
									lokum i zapoznaj się z ofertą naszych ubezpieczeń. 
								</p>
							</div>
						</div>
					</div>
					<div data-appear-animation="fadeInDown" class="appear-animation">
						<div class="row">
							<div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
								<div class="col-md-2 center push-bottom">
									<span class="icon-rounded"><i class="fa fa-plus"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div data-appear-animation="fadeInDown" class="appear-animation">
						<div class="row featured-boxes secundary">
							<div class="col-md-2">
								<div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
									<div class="featured-box featured-box-primary">
										<div class="box-content">
											<i class="icon-featured fa fa-heart"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-10">
								<h3 class="short dark">Życie & Zdrowie</h3>
								<h5 class="short">Ubezpieczenie w każdej dziedzinie życia jest ważne.</h5>
								<p>
									Ubezpieczenie na życie zapewni ochronę Tobie i Twoim najbliższym w razie nieprzewidzianych 
									zdarzeń mogących spowodować uszczerbek na życiu lub zdrowiu. Jeśli planujesz wyjazd,
									zapoznaj się także z ofertą ubezpieczeń na podróż, które ochronią Cię przed skutkami 
									wypadków i zabezpieczą przed wysokimi kosztami leczenia poza granicami kraju. Dzięki niemu 
									zapewniamy Ci wsparcie finansowe w razie problemów lub trudnych sytuacji. 
								</p>
							</div>
						</div>
					</div>
					<div data-appear-animation="fadeInDown" class="appear-animation">
						<div class="row">
							<div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
								<div class="col-md-2 center push-bottom">
									<span class="icon-rounded"><i class="fa fa-plus"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div data-appear-animation="fadeInDown" class="appear-animation">
						<div class="row featured-boxes secundary">
							<div class="col-md-2">
								<div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
									<div class="featured-box featured-box-primary">
										<div class="box-content">
											<i class="icon-featured fa fa-institution "></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-10">
								<h3 class="short dark">Firma & Działalność</h3>
								<h5 class="short">Prowadzenie własnej firmy to duże wyzwanie. </h5>
								<p>
									Twój biznes tak samo jak Ty i Twoi najbliżsi 
									potrzebuje ochrony. Zadbaj o majątek i bezpieczeństwo swojej firmy, niezależnie od jej 
									wielkości i ryzyka, z jakim wiąże się Twoja działalność. Posiadamy w ofercie ubezpieczenia 
									dedykowane dla każdego rodzaju biznesu								
								</p>
							</div>
						</div>
					</div>
				</div>
					<div class="read">
					<div class="container">
					<div class= "tekst"><h2>Interesuje cię oferta <strong>ubezpieczenia?</strong></h2></div>
					<div class="row">
						<div class="col-md-10">
							<p class="lead">
								Ubezpieczenie w każdej dziedzinie życia jest ważne. Zadbaj z nami o życie i zdrowie swoje oraz 
								najbliższych Ci osób, a także o swój majątek i inwestycje. Skontaktuj się z nami, aby poznać 
								najkorzystniejsze oferty ubezpieczeniowe na rynku.
							</p>
						</div>
						<div class= "kontakt">
							<div class="col-md-2">
								<a href="{{'contact'}}" class="btn btn-lg btn-primary push-top pull-right">Skontaktuje się</a>
							</div>
						</div>
					</div>
					</div>
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<div class="row">
						<div class="col-md-9 col-md-offset-1">
							<h2> Przeczytaj, co mówią o nas osoby, które skorzystały <strong>z naszych usług...</strong></h2>
							<div class="row">
								<div class="owl-carousel push-bottom" data-plugin-options='{"items": 1, "autoHeight": true}'>
									<div>
										<div class="col-md-12">
											<blockquote class="testimonial">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.</p>
											</blockquote>
											<div class="testimonial-arrow-down"></div>
											<div class="testimonial-author">
												<div class="img-thumbnail img-thumbnail-small">
													<img src="frontendStyle/HTML/img/clients/client-1.jpg" alt="">
												</div>
												<p><strong>John Smith</strong><span>CEO & Founder - Okler</span></p>
											</div>
										</div>
									</div>
									<div>
										<div class="col-md-12">
											<blockquote class="testimonial">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											</blockquote>
											<div class="testimonial-arrow-down"></div>
											<div class="testimonial-author">
												<div class="img-thumbnail img-thumbnail-small">
													<img src="frontendStyle/HTML/img/clients/client-1.jpg" alt="">
												</div>
												<p><strong>John Smith</strong><span>CEO & Founder - Okler</span></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
					</div>
					
				</div>		
				</div>
			</div>	
			<section class="featured highlight footer">
					<div class="container">
						<div class="row center counters">
							<div class="col-md-3">
								<div data-appear-animation="bounceIn" data-appear-animation-delay="0">
									<strong data-to="5000">0</strong>
									<label>Happy Clients</label>
								</div>
							</div>
							<div class="col-md-3">
								<div data-appear-animation="bounceIn" data-appear-animation-delay="200">
									<strong data-to="15">0</strong>
									<label>Years in Business</label>
								</div>
							</div>
							<div class="col-md-3">
								<div data-appear-animation="bounceIn" data-appear-animation-delay="400">
									<strong data-to="422">0</strong>
									<label>Cups of Coffee</label>
								</div>
							</div>
							<div class="col-md-3">
								<div data-appear-animation="bounceIn" data-appear-animation-delay="600">
									<strong data-to="159">0</strong>
									<label>Tweets</label>
								</div>
							</div>
						</div>
					</div>
				</section>
	{% endblock %}
